body {
    text-align: center;
    margin: 2rem;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

#table-div {
    display: flex;
    align-items: center;
}
table {
    margin-left: 35%;
}

 a {
      color: red;
  }